@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

/* CSS Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Initial Pre-defined Styling */
body {
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.top-section, .footer {
  background-color: #1f2937;
}

.logo {
  font-size: 24px;
  color: #f9faf8;
}

.main-title {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
}

.subtext, a {
  font-size: 18px;
  color: #e5e7eb;
}

.quote-section {
  background-color: #e5e7eb;
}

.sign-up-box, .sign-up-button {
  background-color: #3882f6;
}

.cards-title {
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
}

.quote {
  font-size: 36px;
  font-style: italic;
  color: #1f2937;
}

/* My Custom Styling */

.top-section {
  height: 100vh;
}

/* Navbar Styling */

.navbar ul {
  display: flex;
  gap: 28px;
}

.navbar {
  display: flex;
  width: 75%;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 100px;
  margin: 0 auto;
}

/* Header Section Styling */

.header {
  display: flex;
  max-width: 75%;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

img {
  max-width: 400px;
}

.website-details {
  height: 370px;
  max-width: 530px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
}

.sign-up-button {
  color: #f9faf8;
  font-size: 18px;
  font-weight: 700;
  padding: 5px 30px;
  border-radius: 10px;
  border: none;
}

.cards-section {
  height: 100vh;
  max-width: 75%;
  margin: 0 auto;
}

.cards-section .cards-title {
  text-align: center;
  padding: 100px 0;
}

.cards-section .cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.card-and-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  border: 5px solid rgb(19, 111, 218);
  width: 175px;
  height: 175px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.card-text {
  text-align: center;
  max-width: 175px;
}

.quote-section {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.quote-section div {
  max-width: 75%;
  margin: 0 auto;
}

.quote-section div .quote {
  font-style: italic;
  font-weight: lighter;
  margin-bottom: 20px;
}

.quote-section div .quote-author {
  font-weight: 900;
  text-align: end;
  font-size: x-large;
  padding-right: 50px;
}

.sign-up-section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40vh;
  max-width: 75%;
  margin: 0 auto;
}

.sign-up-box {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 50px 50px;
  border-radius: 10px;
}

.sign-up-title {
  color: #f9faf8;
  font-size: 26px;
  font-weight: 600;
}

.sign-up-subtext {
  color: #e5e7eb;
  font-size: 18px;
}

.sign-up-section .sign-up-button {
  border: 3px solid #f9faf8;
}

.footer {
  height: 10vh;
  color: #f9faf8;
  display: flex;
  justify-content: center;
  align-items: center;
}